<!DOCTYPE html>
<html>
    <head>
        <title>EJS Example</title>
    </head>
    <body>
        
        <%- include ('Navbar');%>

        <h1>Welcome <%= name %></h1>
        <h2>Hope you are having a good stay in city</h2>
        
        </h2>
    </body>
</html>